
<%= form_with model: :book, url: books_path, local: true do |form| %>
  <p>
    <%= form.label :Title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :Author %><br>
    <%= form.text_field :author %>
  </p>
 
  <p>
  <%= form.label :Description %><br>
  <%= form.text_area :description %>
</p>

<p>
<%= form.label :url %><br>
<%= form.text_field :url %>
</p>

  <p>
    <%= form.submit %>
  </p>
<% end %>