<h1 class="header">Welcome to the Reader's Realm</h1>
<h3 class="header"> - - A sample book library utilizing seed data - - </h3>

<%= link_to 'Add New Book', new_book_path, class: "button" %> <br>

<%= link_to 'Add New Reader', new_user_path, class: "button" %> <br>

<table class = "table">
  <tr>
    <th class="header">Title</th>
    <th class="header">Author</th>
    <th class="header">Description</th>
    <th class="header">URL</th>
    <th class="header">Actions</th>
  </tr>

  <% @books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.author %></td>
      <td><%= book.description %></td>
      <td><%= book.url %></td>
      <td><%= link_to 'Show', book_path(book) %></td>
      <td><%= link_to 'Edit', edit_book_path(book.id) %></td>
      <td><%= link_to 'Delete', book_path(book), 
                                          method: :delete,
                                          data: {confirm: 'Are you sure? Deleting this book will permanently remove it from the library.'} %></td> 
    </tr>
  <% end %>
</table>

